
<div class="row">
  <div class="col-xs-12">
    <h2>Flickr Public Feed</h3>
  </div>
</div>

<div ng-controller="MainCtrl">
  <div class="row mv-row" ng-repeat="item in items" ng-cloak>
    <div class="col-xs-4 mv-image-col">
      <a href="#/{{$index}}">
        <img class="mv-item-image" ng-src="{{item.media.m}}" alt="{{item.title}}">
      </a>
    </div>
    <div class="col-xs-8">
      
      <div class="row">
        <div class="col-xs-12">
          <h3 class="mv-item-title"><a href="#/{{$index}}">{{item.title}}</a></h3>
        </div>
      </div>
      <div class="mv-small-item-info">
        <div class="row">
          <div class="col-xs-12">
            <span class="mv-item-published">Published: {{formatPublishedDate(item.date_taken)}}</span>
          </div>
        </div> 
        <div class="row">
          <div class="col-xs-12">
            <a class="mv-item-author-link" href="https://www.flickr.com/people/{{item.author_id}}">Post author</a>
            <a class="mv-item-flickr-link" href="{{item.link}}">View on Flickr</a>
          </div>
        </div>
      </div>
      <div class="mv-large-item-info">
        <div class="row">
          <div class="col-xs-12">
            <a class="mv-item-author-link" href="https://www.flickr.com/people/{{item.author_id}}">Post author</a>
            <span class="mv-item-published">Published: {{formatPublishedDate(item.date_taken)}}</span>
            <a class="mv-item-flickr-link" href="{{item.link}}">View on Flickr</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
