<div ng-controller="PostCtrl" ng-cloak ng-show="loaded">
  <div class="row" ng-hide="validPostFound">
    <div class="col-xs-10">
      No post found
    </div>
    <div class="col-xs-2">
      <a class="btn btn-primary pull-right pv-back-button" href="{{buildBackLink()}}">Back</a>
    </div>
  </div>
  
  <div ng-show="validPostFound">
  <div class="row">
    <div class="col-xs-10">
      <h3 class="pv-item-title"><a href="{{item.link}}">{{formatImageTitle(item.title)}}</a></h3>
    </div>
    <div class="col-xs-2">
      <a class="btn btn-primary pull-right pv-back-button" href="{{buildBackLink()}}">Back</a>
    </div>
  </div>
  <div class="row pv-author-row">
    <div class="col-xs-12">
      <a class="pv-item-author-link" href="https://www.flickr.com/people/{{item.author_id}}">Post author</a>
      | 
      <span class="pv-item-published">Published: {{formatPublishedDate(item.date_taken)}}</span> 
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 pv-image-col">
      <img class="pv-item-image" ng-src="{{item.media.m}}" alt="{{formatImageTitle(item.title)}}" class="img-responsive">
    </div>
    <div class="col-xs-8">
       <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non 
         mollis dui. Curabitur condimentum fermentum enim, eu placerat libero 
         lobortis eu. Duis nec condimentum nisi. Morbi aliquam tortor ipsum, 
         ac sollicitudin lacus accumsan at. Aenean eleifend convallis efficitur. 
         Aliquam sodales odio id lectus suscipit elementum. Nam convallis ex 
         vitae ex porttitor, vitae fermentum velit tristique. Suspendisse magna 
         nisl, accumsan eget pharetra quis, suscipit non neque.
       </p>
       <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non 
         mollis dui. Curabitur condimentum fermentum enim, eu placerat libero 
         lobortis eu. Duis nec condimentum nisi. Morbi aliquam tortor ipsum, 
         ac sollicitudin lacus accumsan at. Aenean eleifend convallis efficitur. 
         Aliquam sodales odio id lectus suscipit elementum. Nam convallis ex 
         vitae ex porttitor, vitae fermentum velit tristique. Suspendisse magna 
         nisl, accumsan eget pharetra quis, suscipit non neque.
       </p>
       <p>
         Tags: <span ng-repeat="tag in item.tags.split(' ')">
                 <a href="{{buildSearchLink(tag)}}">{{tag}}</a> </span>
       </p>
    </div>
  </div>
  </div>
</div>
